<div class="auth-page-wrapper pt-5">
    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>

    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>
                            <a routerLink="/" class="d-inline-block auth-logo">
                                <img src="assets/images/logo-light.png" alt="" height="45">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Forgot Password?</h5>
                                <p class="text-muted">Reset password with My Nspira Portal.</p>
                                <!-- <lord-icon
                                      src="https://cdn.lordicon.com/rhvddzym.json"
                                      trigger="loop"
                                      colors="primary:#0ab39c"
                                      class="avatar-xl">
                                  </lord-icon> -->
                            </div>

                            <div class="alert alert-borderless alert-warning text-center mb-1 mx-1 flex-wrap"
                                role="alert">
                                Enter your employee number and follow the instructions!
                            </div>
                            <div class="p-2">
                                <div class="modal-body p-5">
                                    <form class="needs-validation" [formGroup]="userForm" (ngSubmit)="getOtp()" novalidate>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="example-text-input" class="form-label mb-1">Employee Global Number</label>
                                                <div class="input-group">
                                                    <input type="text" formControlName="EmployeeId" class="form-control"
                                                        [ngClass]="{ 'is-invalid': userSubmitted && userControls['EmployeeId'].errors }"
                                                        id="EmployeeId" placeholder="Please Enter Employee No">
                                                    <button class="btn btn-primary waves-effect waves-light"
                                                        [disabled]="userForm.invalid || hasOtp" *ngIf="!userSubmitted">Get
                                                        OTP</button>
                                                    <button class="btn btn-primary waves-effect waves-light"
                                                        *ngIf="userSubmitted">Validating... <i class="fa fa-spinner fa-spin"></i></button>
                                                </div>
                                                <div *ngIf="userControls['EmployeeId'].invalid && (userControls['EmployeeId'].dirty || userControls['EmployeeId'].touched) &&  userControls['EmployeeId'].errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="userControls['EmployeeId'].errors['required']">Please
                                                        provide
                                                        your
                                                        <b>Employee No</b>
                                                    </div>
                                                </div>
                                                <div class="text-start text-danger">
                                                    {{displayText}}
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div *ngIf="hasOtp">
                                        <form class="needs-validation" [formGroup]="otpForm" (ngSubmit)="validateOtp()">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Successfully sent OTP to Mobile Number :
                                                        {{otpData.MobileNumber}}</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-label mb-1">OTP</label>
                                                    <div class="input-group">
                                                        <input formControlName="otp" class="form-control"
                                                            [ngClass]="{ 'is-invalid': otpControls['otp'].invalid && (otpControls['otp'].dirty || otpControls['otp'].touched) && otpControls['otp'].errors }"
                                                            id="otp" placeholder="Please enter OTP" />
                                                        <button class="btn btn-primary waves-effect waves-light" type="submit"
                                                            *ngIf="!otpSubmitted" [disabled]="otpForm.invalid || isValidOtp">Validate
                                                            OTP</button>
                                                        <button class="btn btn-primary waves-effect waves-light"
                                                            *ngIf="otpSubmitted">Validating... <i
                                                                class="fa fa-spinner fa-spin"></i></button>
                                                    </div>
                                                    <div *ngIf="otpControls['otp'].invalid && (otpControls['otp'].dirty || otpControls['otp'].touched) && otpControls['otp'].errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="otpControls['otp'].errors['required']">Please
                                                            enter <b>OTP</b>
                                                            Received on
                                                            your
                                                            mobile.</div>
                                                    </div>
                                                    <div class="text-start text-danger">
                                                        {{otpDisplayText}}
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div *ngIf="isValidOtp">
                                        <form class="needs-validation" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                                            <div *ngIf="isValidOtp && showPassword">
                                                <div class="mb-3">
                                                    <label for="email" class="mt-2">Password</label>
                    
                                                    <input type="password" formControlName="password" class="form-control"
                                                        [ngClass]="{ 'is-invalid': passwordControls['password'].invalid && (passwordControls['password'].dirty || passwordControls['password'].touched) && passwordControls['password'].errors }"
                                                        id="password" placeholder="Please enter new password." />
                    
                                                    <div *ngIf="passwordControls['password'].invalid && (passwordControls['password'].dirty || passwordControls['password'].touched) && passwordControls['password'].errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="passwordControls['password'].errors['required']">
                                                            Please
                                                            enter new
                                                            password.</div>
                                                        <div *ngIf="passwordControls['password'].errors['pattern']">
                                                            Password
                                                            must
                                                            contain more than 8 characters, 1 numeric, 1 upper case
                                                            letter, and
                                                            1 special character($@$!%*?&)</div>
                                                        <div *ngIf="passwordControls['password'].errors['maxlength']">
                                                            Password
                                                            must
                                                            not be more than 20 charecters in length.</div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email">Confirm Password</label>
                    
                                                    <input type="password" formControlName="confirmPassword" class="form-control"
                                                        [ngClass]="{ 'is-invalid': passwordControls['confirmPassword'].invalid && (passwordControls['confirmPassword'].dirty || passwordControls['confirmPassword'].touched) && passwordControls['confirmPassword'].errors }"
                                                        id="confirmPassword" placeholder="Please enter confirm password." />
                    
                                                    <div *ngIf="passwordControls['confirmPassword'].invalid && (passwordControls['confirmPassword'].dirty || passwordControls['confirmPassword'].touched) && passwordControls['confirmPassword'].errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="passwordControls['confirmPassword'].errors['required']">
                                                            Please
                                                            enter Confirm Password.
                                                        </div>
                                                        <div *ngIf="passwordControls['confirmPassword'].errors['pattern']">
                                                            Password
                                                            must contain more than 8 characters, 1 numeric, 1 upper
                                                            case
                                                            letter,
                                                            and 1 special character($@$!%*?&) </div>
                                                        <div *ngIf="passwordControls['confirmPassword'].errors['maxlength']">
                                                            Confirm
                                                            Password must not be more than 20 charecters in length.
                                                        </div>
                                                        <div *ngIf="passwordControls['confirmPassword'].errors['mustMatch']">
                                                            Passsword
                                                            and
                                                            Confirm Password didn't match. </div>
                                                    </div>
                                                </div>
                                                <div class="text-end">
                                                    <button class="btn btn-primary w-100 waves-effect waves-light"
                                                        *ngIf="!passwordSubmitted" [disabled]="passwordForm.invalid">Change
                                                        Password</button>
                                                    <button class="btn btn-primary w-100 waves-effect waves-light"
                                                        *ngIf="passwordSubmitted">Validating... <i
                                                            class="fa fa-spinner fa-spin"></i></button>
                    
                                                </div>
                                                <div class="text-start">
                                                    {{changePwdDisplayText}}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                    <div class="mt-4 text-center">
                        <p class="mb-0">Wait, I remember my password... <a href="javascript: void(0);"
                                (click)="gotoLoginPage()" class="fw-semibold text-primary text-decoration-underline">
                                Click here </a> </p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->

    <!-- footer -->
    <footer class="footer">
        <app-login-footer></app-login-footer>
    </footer>
    <!-- end Footer -->
</div>
<!-- end auth-page-wrapper -->