<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title fw-bold" id="exampleModalgridLabel">
            {{Title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <iframe width="100%" height="600" src="https://www.youtube.com/embed/htgqMgIHOvk?si=w2lqZM2lnY_3AdvQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <button type="button" class="btn btn-info text-start" (click)="onClose()">Close</button>
            </div>
        </div>
    </div>
</div>