<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title mb-0">Map Role(s) to user</h4>
                    </div>
                    <div class="col-md-4 text-right"><button type="button" class="btn-close " aria-hidden="true"
                            (click)="activeModal.dismiss('Cross click')"></button></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group">
                        <ejs-grid #grid id='grid' [dataSource]="mappedRoles" [allowPaging]="true" [allowSorting]="true"
                            [allowFiltering]="true" [allowResizing]="true" [filterSettings]='filterSettings'
                            width='100%' gridLines='Both' allowPaging='true' [pageSettings]='pageSettings'
                            (rowDataBound)='rowDataBound($event)' (dataBound)='dataBound()'>
                            <e-columns>
                                <e-column type="checkbox" width="50"> </e-column>
                                <e-column field="RoleId" headerText="" width="120"
                                    [isPrimaryKey]="true" [visible]="false">
                                </e-column>
                                <e-column field='RoleName' headerText='Role Name' width='150'></e-column>
                                <e-column field='Description' headerText='Description' width=120></e-column>
                            </e-columns>
                        </ejs-grid>
                        <p class="required" ng-show="noRoleSelected">Please select atleast one role.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save
        </button>
    </div>
</div>