<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title fw-bold" id="exampleModalgridLabel">Apply Compensatory Off Request</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="leaveForm" (ngSubmit)="applyCompOffRequest()">
            <div class="row g-3">
                <div class="row pt-3">
                    <div class="col-md-6">
                        <label for="exampleInputdate" class="form-label">From Date <span class="text-danger">*</span></label>
                        <div class="input-group mb-3">
                            <!-- <input id="fromDate" class="form-control flatpickr-input active date-pickr-disabled" type="text" mwlFlatpickr placeholder="Select date"
                                formControlName="LeaveFrom" [altInput]="false" altFormat="d-M-Y"  dateFormat="d-M-Y" [convertModelValue]="true"
                                [minDate]="minDate" [maxDate]="maxDate" (flatpickrChange)='changeFromDate($event)'
                                [ngClass]="{ 'is-invalid': f['LeaveFrom'].invalid && (f['LeaveFrom'].dirty || f['LeaveFrom'].touched) && f['LeaveFrom'].errors }" /> -->
                                <input  class="form-control" type="text" readonly
                                [value]="toDisableDate"  />
                        </div>
                        <div *ngIf="f['LeaveFrom'].invalid && (f['LeaveFrom'].dirty || f['LeaveFrom'].touched) &&  f['LeaveFrom'].errors"
                            class="invalid-feedback">
                            <div *ngIf="f['LeaveFrom'].errors['required']">Please provide from date.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="exampleInputdate" class="form-label">To Date <span class="text-danger">*</span></label>
                        <div class="input-group mb-3">
                            <!-- <input id="LeaveTo" class="form-control flatpickr-input active date-pickr-disabled" type="text" mwlFlatpickr placeholder="Select date"
                                formControlName="LeaveTo" [altInput]="false" altFormat="d-M-Y"  dateFormat="d-M-Y" [convertModelValue]="true"
                                [minDate]="toMinDate" [maxDate]="maxDate"  
                                [ngClass]="{ 'is-invalid': f['LeaveTo'].invalid && (f['LeaveTo'].dirty || f['LeaveTo'].touched) && f['LeaveTo'].errors }" /> -->
                                <input  class="form-control" type="text" readonly
                                [value]="toDisableDate"  />
                        </div>
                        <div *ngIf="f['LeaveTo'].invalid && (f['LeaveTo'].dirty || f['LeaveTo'].touched) &&  f['LeaveTo'].errors"
                            class="invalid-feedback">
                            <div *ngIf="f['LeaveTo'].errors['required']">Please provide to date.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Comp-Off Date <span class="text-danger">*</span></label>
                        <div class="input-group mb-3">
                            <!-- <input id="CompOffDate" class="form-control flatpickr-input active date-pickr-disabled" type="text" mwlFlatpickr placeholder="Select date"
                                formControlName="CompOffDate" [altInput]="false" altFormat="d-M-Y"  dateFormat="d-M-Y" [convertModelValue]="true"
                                [ngClass]="{ 'is-invalid': f['CompOffDate'].invalid && (f['CompOffDate'].dirty || f['CompOffDate'].touched) && f['CompOffDate'].errors }" /> -->
                                <input  class="form-control" type="text" readonly
                                    [value]="comOffDisableDate"  />
                        </div>
                        <!-- <ng-select [items]="compOffDatesList" bindLabel="DisplayAttendanceDate" bindValue="AttendanceDate" formControlName="CompOffDate"
                        placeholder="Select Comp-Off Date">
                            <ng-template ng-optgroup-tmp let-item="item">
                                {{item.DisplayAttendanceDate}}
                            </ng-template>
                        </ng-select> -->
                        <div *ngIf="f['CompOffDate'].invalid && (f['CompOffDate'].dirty || f['CompOffDate'].touched) &&  f['CompOffDate'].errors"
                            class="invalid-feedback">
                            <div>Please provide Comp-Off Date.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="pt-3">
                        <label for="exampleFormControlTextarea5" class="form-label">Remarks <span class="text-danger">*</span></label>
                        <textarea class="form-control" formControlName="Remarks" id="Remarks" rows="3"
                            [ngClass]="{ 'is-invalid': f['Remarks'].invalid && (f['Remarks'].dirty || f['Remarks'].touched) && f['Remarks'].errors }"></textarea>
                    </div>
                    <div *ngIf="f['Remarks'].invalid && (f['Remarks'].dirty || f['Remarks'].touched) &&  f['Remarks'].errors"
                        class="invalid-feedback">
                        <div *ngIf="f['Remarks'].errors['required']">Please Remarks.
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="submit" class="btn btn-primary" *ngIf="!isSubmitted"
                            [disabled]="this.leaveForm.invalid">Submit</button>
                        <button type="button" class="btn btn-primary btn-label waves-effect waves-light btn-load"
                            *ngIf="isSubmitted">
                            <span class="d-flex align-items-center">
                                <span class="spinner-border flex-shrink-0" role="status">
                                    <span class="visually-hidden">Applying...</span>
                                </span>
                                <span class="flex-grow-1 ms-2">
                                    Applying...
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>