<app-breadcrumbs title="Score Management" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="card row">
    <div class="card-body col-lg-12">
                <ejs-grid [dataSource]="assignedDepartments" [allowSorting]='true' [allowFiltering]='true'
                    [filterSettings]='filterSettings' allowGrouping='true' [groupSettings]='groupSettings'>
                    <e-columns>
                        <e-column field='DesignationName' headerText='Designation'></e-column>
                        <e-column field='EmployeeName' headerText='Employee Name'></e-column>
                        <e-column headerText='Actions'>
                            <ng-template #template let-data>
                                <button class="btn btn-light position-relative p-0 avatar-xs rounded-circle" (click)="viewKraInformation(data)">
                                    <span class="avatar-title bg-transparent text-reset"><i class="bx bx-add-to-queue text-success fs-18"></i></span>
                                </button>
                                &nbsp;
                                <button class="btn btn-light position-relative p-0 avatar-xs rounded-circle ">
                                    <span class="avatar-title bg-transparent text-reset"><i class="bx bx-bell-plus text-success fs-18"></i></span>
                                </button>
                            </ng-template>    
                        </e-column>
                    </e-columns>
                </ejs-grid>
    </div>
</div>