<div class="modal-content border-0 overflow-hidden">
    <div class="row g-0">
        <div class="col-lg-7">
            <div class="modal-body p-5">
                <form class="needs-validation" [formGroup]="userForm" (ngSubmit)="getOtp()" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="example-text-input" class="form-label mb-1">Enter Work email address</label>
                            <div class="input-group">
                                <input type="text" formControlName="WorkEmail" class="form-control"
                                    [ngClass]="{ 'is-invalid': f['WorkEmail'].invalid && (f['WorkEmail'].dirty || f['WorkEmail'].touched) && f['WorkEmail'].errors}"
                                    name="WorkEmail" id="WorkEmail" placeholder="Please enter email address">
                                <button class="btn btn-primary waves-effect waves-light"
                                    [disabled]="userForm.invalid || hasOtp" *ngIf="!userSubmitted">Get
                                    OTP</button>
                                <button class="btn btn-primary waves-effect waves-light"
                                    *ngIf="userSubmitted">Validating... <i class="fa fa-spinner fa-spin"></i></button>
                            </div>
                            <div *ngIf="f['WorkEmail'].invalid && (f['WorkEmail'].dirty || f['WorkEmail'].touched) && f['WorkEmail'].errors"
                                [ngClass]="{ 'is-invalid': f['WorkEmail'].invalid && (f['WorkEmail'].dirty || f['WorkEmail'].touched) && f['WorkEmail'].errors}">
                                <div class="text-danger" *ngIf="f['WorkEmail'].errors['required']">Please provide your
                                    <b>email address.</b>
                                </div>
                                <div class="text-danger" *ngIf="f['WorkEmail'].errors['pattern']">Email Address will
                                    allow only <b>narayanagroup.com</b> or <b>nspira.in</b> domains.</div>
                            </div>
                            <div class="txt-right text-danger">
                                {{displayText}}
                            </div>
                        </div>
                    </div>
                </form>
                <div *ngIf="hasOtp">
                    <form class="needs-validation" [formGroup]="otpForm" (ngSubmit)="validateOtp()">
                        <div class="row">
                            <!-- <div class="col-md-12 text-muted" *ngIf="otpData">
                                <label> {{displayText}}</label>
                            </div> -->
                            <div class="col-md-12">
                                <label for="example-text-input" class="form-label mb-1">OTP</label>
                                <div class="input-group">
                                    <input formControlName="otp" class="form-control"
                                        [ngClass]="{ 'is-invalid': otpControls['otp'].invalid && (otpControls['otp'].dirty || otpControls['otp'].touched) && otpControls['otp'].errors }"
                                        id="otp" placeholder="Please enter OTP" />
                                    <button class="btn btn-primary waves-effect waves-light" type="submit"
                                        *ngIf="!otpSubmitted" [disabled]="otpForm.invalid">Validate
                                        OTP</button>
                                    <button class="btn btn-primary waves-effect waves-light"
                                        *ngIf="otpSubmitted">Validating... <i
                                            class="fa fa-spinner fa-spin"></i></button>
                                </div>
                                <div *ngIf="otpControls['otp'].invalid && (otpControls['otp'].dirty || otpControls['otp'].touched) && otpControls['otp'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="otpControls['otp'].errors['required']">Please
                                        enter <b>OTP</b>
                                        Received on
                                        your
                                        mobile.</div>
                                </div>
                                <div class="txt-right text-danger">
                                    {{otpDisplayText}}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="subscribe-modals-cover h-100">
                <img src="assets/images/auth-one-bg.jpg" alt="" class="h-100 w-100 object-cover"
                    style="clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);">
            </div>
        </div>
    </div>
</div><!-- /.modal-content -->