// ::ng-deep .e-row {
//     background: #eaf7f0 !important;
// }

.e-grid .e-groupcaption, .e-grid .e-indentcell, .e-grid .e-recordplusexpand, .e-grid .e-recordpluscollapse {
    background-color: #c8b1f740;
    color: #374151;
    font-weight:bold;
}