.btn-soft-success {
    display: inline-flex;
    margin-left: 60px;
    background-color: #00b29e !important;
    color: #fff;
}
.dis {
    margin-left: 10px;
}
.avatar-sm1 {
    width: 2rem;
    height: 2rem;
}
.leaves {
    display: inline-flex;
}
// .fs-4 {
//     padding-left: 30px;
//     padding-right: 30px;
// }
.c-bg {
    background-color: #defdf9;
}
.img {
    width: 24px;
    height: 24px;
}
.img1 {
    width: 20px;
    height: 24px;
}
.img2 {
    width: 30px;
    height: 24px;
}