.close-dialog-button{
    float: right;
}
.choose-align {
    text-align: center;
   
}
.datalist{
    padding-left: 35px;
    margin-bottom: 40px;
}
.fileError{
    display: block;
    text-align: left;
    padding-left: 17px;
    margin-top: -15px;
}
.head-padding{
    padding-top: 7px
}
::ng-deep .dx-fileuploader-content > .dx-fileuploader-upload-button {
display: none !important;
}
::ng-deep .dx-fileuploader-button-container:nth-last-child(2) {
    display: none !important;
  }

::ng-deep .dx-button-mode-contained .dx-icon {
    color: var(--vz-red) !important;
}