<app-breadcrumbs title="Group Medi Claim" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row justify-content-center">
    <div class="col-xxl-9">
        <div class="card" id="demo">
            <div class="card-bpdy">
                <div class="row p-4">
                    <p><strong>Group Mediclaim Details</strong></p>

                    <p>Dear Narayanaites,</p>

                    <p>At Narayana Group, we firmly believe that &#39;our people are at the core of our business and our
                        success.&#39; As part of our ongoing commitment to your well-being and in line with our nCare
                        initiative, we have been providing group medical coverage. </p>

                    <p>We are pleased to announce that this year, we have partnered with <strong>Go Digit General
                            Insurance Ltd</strong>. and <strong>Vidal Health Insurance TPA Pvt Ltd</strong> as our
                        Third-Party Administrator (TPA) for our Group Mediclaim Policy, offering a sum insured of Rs.
                        3,00,000/- plus 50% Base Sum insured will be reinstated after 100% of the base sum insured is
                        exhausted on conditions for each family, and a Group Personal Accident Policy with a sum assured
                        of Rs. 5,00,000/- exclusively for employees.</p>

                    <p><strong>Note: </strong></p>

                    <p>Employees who are not covered under ESI are covered by GMC policy </p>

                    <p>Employees who volunteered to opt out from the GMC scheme are not eligible for GMC services.</p>

                    <p></p>

                    <p><strong>Point Of Contact </strong></p>

                    <p><strong>Vidal Health TPA</strong> - <strong>Mr. Ahmed Ali</strong> <strong>@ +91 7331131073
                            /</strong><a href="mailto:hydcorp@vidalhealth.com"
                            style="color:#0563c1; text-decoration:underline"><strong>hydcorp@vidalhealth.com</strong></a>
                    </p>

                    <p><strong>Hr team</strong> @ <a href="mailto:gmchyd@narayanagroup.com"
                            style="color:#0563c1; text-decoration:underline">gmchyd@narayanagroup.com</a></p>

                    <p></p>

                    <p><strong>Additions / Corrections</strong></p>

                    <p>Any additions and corrections on Ecards during the policy period i.e 06<sup>th</sup> August 2023
                        to 05<sup>th</sup> August 2024, kindly share the details to <a
                            href="mailto:gmchyd@narayanagroup.com"
                            style="color:#0563c1; text-decoration:underline">gmchyd@narayanagroup.com</a>.</p>

                    <p><strong>Time Period </strong></p>

                    <p>Newly Married<strong>-</strong>Spouse details need to share immediately after marriage</p>

                    <p>New Born Baby<strong>-</strong>Need to share the information with Birthdate with specifying BABY
                        BOY OR BABY GIRL immediately after birth.</p>

                    <p><strong>Reimbursement Process</strong></p>

                    <p><strong>Checklist Documents:</strong></p>

                    <ul class="ulstyle">
                        <li>Claim form (Part A to be filled by employee and Part B to be filled by hospital)</li>
                        <li>Hospital Mail Bill with breakup</li>
                        <li>Discharge Summary with Stamp and Sign</li>
                        <li>Payment Receipt&rsquo;s</li>
                        <li>Investigation bill&rsquo;s and reports (Ultrasound report for Maternity claims)</li>
                        <li>Medicine bills with prescription</li>
                        <li>Cancelled cheque with name</li>
                        <li>IOL Implant Sticker &amp; Invoice (For Stent implants cases only)</li>
                        <li>Employee id card copy</li>
                        <li>Aadhar Card copy of patient.</li>
                    </ul>

                    <p>All the documents to be submitted within 30 days from the date of discharge </p>

                    <p><strong>Original Documents Courier address-</strong></p>

                    <p>To</p>

                    <p>AHMED ALI (NSPIRA)<a href="mailto:hydcorp@vipulmedcorp.com"
                            style="color:#0563c1; text-decoration:underline"
                            target="_blank">hydcorp@vipulmedcorp.com</a></p>

                    <p>Melange Tower 1ST FLOOR,</p>

                    <p>Address: Sy No.80 to 84, Huda Techno Enclave Rd,</p>

                    <p>near Ratnadeep Supermarket, Patrika Nagar, HITECH City,</p>

                    <p>Madhapur, Telangana 500081.</p>

                    <p>CONTACT NUMBER 7331131073</p>

                    <p></p>

                    <p><strong>Claim Form</strong></p>

                    <p> Please find the attachments &ndash; Path :: Portal -> Download Documents -> Help Documents</p>

                    <p></p>

                    <p><strong>Policy Document </strong></p>


                    <p>Please find the attachments - Path :: Portal -> Documents -> My Documents</p>

                    <p></p>

                    <p></p>

                    <p><strong>Network Hospitals - View Path</strong></p>

                    <p></p>

                    <ul class="ulstyle">
                        <li>Enter Vidal Health TPA Home page<strong> - </strong><a
                                href="https://www.vidalhealthtpa.com/home.html"
                                style="color:#0563c1; text-decoration:underline">Vidal Health Insurance TPA Services
                                (vidalhealthtpa.com)</a></li>
                        <li>Click on the NETWORK PROVIDERS (Below the Logo)</li>
                        <li>Click on the NETWORK HOSPITALS LIST in the drop down</li>
                        <li>Select the Insurance company - <strong>Go Digit General Insurance Ltd.</strong></li>
                        <li>Select State and City to search for Network Hospitals.</li>
                    </ul>

                    <p></p>

                    <p></p>

                    <p><strong>Vidal Health TPA portal Employee logins will be updated soon.</strong></p>

                    <p></p>

                    <p>We appreciate your continued dedication and hard work, and we are committed to ensuring that you
                        have access to comprehensive healthcare coverage. If you have any questions or need further
                        information, please do not hesitate to reach out to our HR team &ndash; gmchyd@narayanagroup.com
                    </p>

                    <p></p>

                    <p>Regards,</p>

                    <p>Team HR</p>

                    <p>Nspira Management Services Pvt. Ltd.</p>

                </div>
            </div>

        </div>
    </div>
</div>