<form novalidate role="form" [formGroup]="chapter6Form">
    <div formArrayName="EmployeeChapter6Details" class="table-responsive">
        <table class="table col-md-12">
            <thead>
                <tr>
                    <th>Section</th>
                    <th>Particulars</th>
                    <th>Amount</th>
                    <th>Proposed Amount</th>
                    <th>Remarks</th>
                    <th *ngIf="canUpload">Action</th>
                </tr>
            </thead>
            <tbody class=" col-md-12">
                <tr *ngFor="let caserow of Chapter6.controls; let i=index" [formGroupName]="i" class=" col-md-12">
                    <td class="col-md-1">
                        <input class="form-control" type="text" placeholder="Section" readonly id="sectionName_{{i}}"
                            name="sectionName_{{i}}" formControlName="SectionName">
                    </td>
                    <td class="col-md-4">
                        <input class="form-control" type="text" placeholder="PARTICULARS" id="particulars_{{i}}"
                            name="particulars_{{i}}" formControlName="Particulars" readonly>
                    </td>
                    <td class="col-md-1">
                        <input maxlength="10" class="form-control" type="text" placeholder="Amount" id="amount_{{i}}"
                            name="amount_{{i}}" formControlName="Amount" (keypress)="numberOnly($event)">
                    </td>                    
                    <td class="col-md-1">
                        <input maxlength="10" class="form-control" type="text" [disabled]="true"
                            id="VerifiedAmount_{{i}}" name="VerifiedAmount_{{i}}"
                            formControlName="VerifiedAmount">
                    </td>
                    <td class="col-md-3">
                        <input class="form-control col-md-4" type="text" id="VerifiedRemarks_{{i}}"
                            name="VerifiedRemarks_{{i}}" [disabled]="true"
                            formControlName="VerifiedRemarks">
                    </td>
                    <td class="col-md-1">
                        <button  *ngIf="canUpload" type="button" id="page-header-cart-dropdown" (click)="uploadChapter6Files(caserow)"
                            class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle">
                            <i _ngcontent-fsy-c552="" class="las la-paperclip fs-22"></i>
                            <span *ngIf="caserow.get('FileCount')?.value>0"
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                {{caserow.get('FileCount')?.value}}
                            </span>
                        </button>
                        <button type="button" id="page-header-cart-dropdown"
                            class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle ml-1"
                            (click)="viewAttachments(caserow)">
                            <i _ngcontent-fsy-c552="" class="las la-eye fs-22"></i>
                            <span *ngIf="caserow.get('FileCount')?.value>0"
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                {{caserow.get('FileCount')?.value}}
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>