.customizer-message {
    bottom: 20px !important;
}

.btn-msg {
    height: 40px;
    width: 40px;
}

.customizer-help {
    bottom: 70px !important;
}


// Greetings

.card {
    position: relative;
    display: flex;
    width: 450px;

    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.card .card-body {
    padding: 1rem 1rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

p {
    font-size: 14px
}

h4 {
    margin-top: 18px
}

.cross {
    padding: 10px;
    cursor: pointer;
    text-align: right;
}

.content-scroll {
    // max-height: 305px;
    overflow-y: auto;
}

/*
 *  STYLE 7
 */

#style-7::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 7px;
}

#style-7::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 153, 217)),
            color-stop(0.72, rgb(73, 125, 189)),
            color-stop(0.86, rgb(28, 58, 148)));
}


// #chat2 .form-control {
//     border-color: transparent;
// }

// #chat2 .form-control:focus {
//     border-color: transparent;
//     box-shadow: inset 0px 0px 0px 1px transparent;
// }

// .divider:after,
// .divider:before {
//     content: "";
//     flex: 1;
//     height: 1px;
//     background: #eee;
// }
#chat2{
    width: 600px;
    // bottom: 10px;
}
// :host ::ng-deep .ck-editor__editable_inline {
//     min-height: 200px !important;
//     overflow: auto !important;
//     max-height: 200px !important;
// }

.modal-content .my-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: 0;
    outline: 0;
}