<div class="wrapper">
    <input type="file" id="file" accept =".png,.jpg,.jpeg,.pdf" (change)="save($event)" [multiple]="isMultiple" />
    <label for="file" class="btn-2"> <i class="ri ri-file-upload"></i> {{labelName}}</label>
<div class="row">
    <div class="col-md-6" *ngFor="let item of result; let i = index">
        <div class="fileuploader-file-container">
            <div class="fileuploader-file">
                <div class="fileuploader-file-info">
                    <div class="fileuploader-file-name">{{item?.fileName}}</div>
                    <div class="fileuploader-file-size">{{item?.fileConvertSize}}</div>
                    <i class="ri ri-delete-bin-line text-danger float-right" (click)="removeFile(i)"></i>
                </div>
                <div class="fileuploader-file-status-message">Ready to upload</div>
            </div>
        </div>
    </div>
</div>
</div>
