<app-loading></app-loading>
<router-outlet></router-outlet>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="sessWarnLabel">Your session is about to expire¶</h4>
    </div>
    <div class="modal-body">
        Your session will expire in {{idleState}} seconds due to inactivity.
    </div>
    <div class="modal-footer">
        <button id="log-out" class="btn btn-default" type="button" data-dismiss="modal"
            (click)="modal.close('loggedOut')">Log Out</button>
        <button id="stay-logged-in" class="btn btn-warning" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Stay')">Stay Logged In</button>
    </div>
</ng-template>



<!-- <ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            You Have Been Idle!
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                X
            </span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-body">
            {{idleState}}
           <div class="row mrgbtm">
             <div class="col-md-6">
                 <button type="button" (click)="modal.close('loggedOut')" class="btn btn-danger">Logout</button>
             </div>
             <div class="col-md-6">
                 <button type="button" (click)="modal.dismiss('Stay')" class="btn btn-success">Stay</button>
             </div>
           </div>
         </div>
    </div>
</ng-template> -->
<ng-template #content1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="sessWarnLabel">Your session is about to expire¶</h4>
    </div>
    <div class="modal-body">
        You Have Been Logged Out From Self Service Portal!
    </div>
    <div class="modal-footer">
        <button id="log-out" class="btn btn-default" type="button" data-dismiss="modal"
            (click)="modal.close('loggedOut')">Ok</button>
    </div>
</ng-template>
<!-- <ng-template #content1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            You Have Been Logged Out From Self Service Portal!
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                X
            </span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-body">
            {{idleState}}
           <div class="row mrgbtm">
             <div class="col-md-6">
                 <button type="button" (click)="modal.close('loggedOut')" class="btn btn-success">OK</button>
             </div>
           </div>
         </div>
    </div>
</ng-template> -->