<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title mb-0">Upload Agreement Bill</h4>
                        </div>
                        <div class="col-md-4 text-right"><button type="button" class="btn-close " aria-hidden="true"
                                (click)="activeModal.dismiss('Cross click')"></button></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 mt-2">
                            <div class="col-md-12">
                                <label for="MonthName">Month</label>
                                <input type="text" 
                                class="form-control" id="MonthName" formControlName="MonthName" readonly>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label for="Salary_Voucher">Salary/Voucher</label>
                                <input type="text" 
                                class="form-control" id="Salary_Voucher" formControlName="Salary_Voucher" readonly>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label for="ToBePaid">Eligible Amount</label>
                                <input type="number" 
                                class="form-control" id="ToBePaid" formControlName="ToBePaid" readonly>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label for="Paid">Paid</label>
                                <input type="number" 
                                class="form-control" id="Paid" formControlName="Paid" readonly>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label for="Balance">Balance</label>
                                <input type="number" 
                                class="form-control" id="Balance" formControlName="Balance" readonly>
                            </div>
                           
                            <div class="col-md-12 mt-2">
                                <label for="ApprovalStatus">Approval Status</label>
                                <input type="text" 
                                class="form-control" id="ApprovalStatus" formControlName="ApprovalStatus" readonly>
                            </div>
                            <!-- <div class="col-md-12 mt-2">
                                <div *ngIf="uploadForm.value.BillCopy!='' && uploadForm.value.BillCopy!=null">
                                    <a href="javascript:void(0)" (click)="downloadFile()">
                                        <i class="dx-icon-download" stylingMode="contained" type="normal">
                                        </i>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="culture-add-imgs scrollbar-inner">
                                <div class="card-inner placeholder">
                                    <div class="card-content">
                                        <div class="culture-card file-upload-dashed pointer">
                                            <div class="img-wrapper">
                                                <div class="img-170 text-center">
                                                    <img class="img-responsive" [src]="imageSrc" id="profile" alt=""
                                                        *ngIf="imageSrc">
                                                </div>
                                            </div>
                                            <div class="culture-card text-center pointer pt-5"
                                                (click)="fileInput.click()">
                                                <input hidden #fileInput type="file" id="file" formControlName="file"
                                                    accept="image/png, image/gif, image/jpeg, image/jpg"
                                                    [ngClass]="{ 'is-invalid': f['file'].invalid && (f['file'].dirty || f['file'].touched) && f['file'].errors }"
                                                    (change)="onFileChange($event)" />
                                                <p class="file-label file-text">Browse and Upload</p>
                                                <img class="file-upload-icon"
                                                    src="../../../assets/images/upload-icon.png" style="max-width:22px"
                                                    alt="icon">
                                            </div>
                                            <p class="text-warn">* Upload image format files only</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label for="BillNo">Bill No <span class="text-danger">*</span></label>
                                <input type="number" onKeyPress="if(this.value.length==8) return false;"
                                    class="form-control" id="BillNo" formControlName="BillNo"
                                    [ngClass]="{ 'is-invalid': f['BillNo'].invalid && (f['BillNo'].dirty || f['BillNo'].touched) && f['BillNo'].errors }"
                                    placeholder="Enter Bill Number">
                                <div *ngIf="f['BillNo'].invalid && (f['BillNo'].dirty || f['BillNo'].touched) &&  f['BillNo'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['BillNo'].errors['required']">Please provide bill number.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label for="BillDate">Bill Date <span class="text-danger">*</span></label>
                                    <input id="fromDate" class="form-control flatpickr-input active" type="text"
                                    mwlFlatpickr [altInput]="false" [convertModelValue]="true"
                                    formControlName="BillDate" [minDate]="minDate" [maxDate]="maxDate" altFormat="d-M-Y"
                                    dateFormat="d-M-Y" placeholder="Choose Bill Date"
                                    [ngClass]="{ 'is-invalid': f['BillDate'].invalid && (f['BillDate'].dirty || f['BillDate'].touched) && f['BillDate'].errors }" />
                               
                                <div *ngIf="f['BillDate'].invalid && (f['BillDate'].dirty || f['BillDate'].touched) &&  f['BillDate'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['BillDate'].errors['required']">Please provide bill date.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="activeModal.dismiss('Close click')">Close</button>
            <button type="submit" class="btn btn-primary" *ngIf="!isSubmitted"
                [disabled]="this.uploadForm.invalid">Upload
            </button>
            <button type="button" class="btn btn-primary btn-label waves-effect waves-light btn-load"
                *ngIf="isSubmitted">
                <span class="d-flex align-items-center">
                    <span class="spinner-border flex-shrink-0" role="status">
                        <span class="visually-hidden">Uploading...</span>
                    </span>
                    <span class="flex-grow-1 ms-2">
                        Uploading...
                    </span>
                </span>
            </button>
        </div>
    </div>
</form>