.edit-icon{
    margin-left: auto !important ;
    font-size: 14px;
}
.email-text{
    display: flex;
    padding-bottom: 0px;
    align-content: center;
}
.professional span{
    font-size: 10px !important;
}