.invalid-feedback {
    display: block;
}
::ng-deep .date-pickr-disabled{
    pointer-events: none !important;
    background-color: var(--vz-input-disabled-bg) !important;
    opacity: 1 !important;
}