<app-breadcrumbs title="User Management" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row">
    <div class="card">
        <div class="card-header border-0 align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">Manage Users</h4>
        </div>
        <div class="card-body table-responsive">
            <form [formGroup]="searchForm" novalidate>
                <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width: 100%;"
                class=" display table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline collapsed">
            </table> -->
                <div class="row">
                    <div class="col-md-6"></div>
                    <!-- <div class="col-md-6 text-end mb-1">Search:
                        <input type="text" id="searchValue" name="searchValue" formControlName="searchValue">
                    </div> -->
                </div>
                <ejs-grid [dataSource]='dataSource' [allowSorting]='true' [enableHover]='false'
                    [enableHeaderFocus]='true' [filterSettings]='filterSettings' [allowSorting]='true'
                    [allowFiltering]='true' gridLines='Both' allowPaging='true' [pageSettings]='pageSettings'>
                    <e-columns>
                        <e-column field='EmpId' headerText='Employee Id' width='120'></e-column>
                        <e-column field='EmployeeName' headerText='Employee Name' dataType="date" width='120'
                            format="dd-MMM-yyyy"></e-column>
                        <e-column field='Department' headerText='Function' width='120' format='INR'></e-column>
                        <e-column field='Designation' headerText='Job Title' width='120'></e-column>
                        <e-column field='BranchName' headerText='Branch Name' width='120'></e-column>
                        <e-column field='Category' headerText='Category' width='120' format="dd-MMM-yyyy"></e-column>
                        <e-column field='SubCategory' headerText='SubCategory' width='120'></e-column>
                        <e-column [allowFiltering]='false' headerText='Actions' width='100'>
                            <ng-template #template let-data>
                                <div class="d-flex align-items-center">
                                    <button type="button"
                                        class="btn btn-light position-relative p-0 avatar-xs rounded-circle"
                                        (click)="EditUserInformation(data)" title="Apply Leave">
                                        <span class="avatar-title bg-transparent text-reset">
                                            <i class="bx bx bx-edit-alt text-success fs-18"></i>
                                        </span>
                                    </button>
                                    <button type="button"
                                        class="btn btn-light position-relative p-0 avatar-xs rounded-circle"
                                        (click)="onRowRemoving(data)" title="Employee Profile">
                                        <span class="avatar-title bg-transparent text-reset">
                                            <i class="ri ri-delete-bin-line text-danger fs-18"></i>
                                        </span>
                                    </button>
                                </div>
                            </ng-template>
                        </e-column>
                    </e-columns>
                </ejs-grid>
            </form>
        </div>
    </div>
</div>