<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:/temp/internallog.log">
  <variable name ="errorlogFile" value="D:/LOGFILE/PORTAL/ERROR/${shortdate}" />
  <variable name ="infologFile" value="D:/LOGFILE/PORTAL/INFO/${shortdate}" />
  <variable name ="debuglogFile" value="D:/LOGFILE/PORTAL/DEBUG/${shortdate}" />
  <variable name ="traceLogFile" value="D:/LOGFILE/PORTAL/TRACE/${shortdate}" />
  <targets>
    <target xsi:type="File"
				name="errorLog"
				fileName="${errorlogFile}.log"
				layout="${longdate} level=${level:uppercase=true} message=${message}"
				keepFileOpen ="false"
				concurrentWrites ="true"/>
    <target xsi:type="File"
				name="infoLog"
				fileName="${infologFile}.log"
				layout="${longdate} level=${level:uppercase=true} threadid=${threadid} message=${message}"
				keepFileOpen ="false"
				concurrentWrites ="true"/>
    <target xsi:type="File"
				name="debugLog"
				fileName="${debuglogFile}.log"
				layout="${longdate} level=${level:uppercase=true} threadid=${threadid} message=${message}"
				keepFileOpen ="false"
				concurrentWrites ="true"/>
    <target xsi:type="File"
				name="traceLog"
				fileName="${traceLogFile}.Log"
				layout="${longdate} level=${level:uppercase=true} threadid=${threadid} message=${message}"
				keepFileOpen ="false"
				concurrentWrites ="true"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="infoLog"  enabled="true"/>
    <logger name="*" minlevel="Debug" writeTo="debugLog"  enabled="true"/>
    <logger name="*" minlevel="Error" writeTo="errorLog"  enabled="true"/>
    <logger name="*" minlevel="Trace" writeTo="traceLog" enabled="true" />
  </rules>
</nlog>