
.accordion-bg {
    color: #ffffff;
    background-color: rgb(70 85 131 / 85%);
    box-shadow: inset 0 -1px 0 var(--vz-border-color);
}
.invalid-tab{
    border: 1px solid red !important;
    color: red;
}